Repository tafystudio/tafystudio, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, agent, firmware, drivers, ci, dependencies

Fixing pnpm version in actions
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: ci

Fixing packageManager field for CI/CD
  package.json
Labels: dependencies

Fixing CI/CD errors
  .env.local.example
  .github/workflows/security.yml
  apps/hub-ui/package.json
  package.json
  pnpm-lock.yaml
Labels: frontend, ci, dependencies

Fixing CI/CD errors
  .github/workflows/security.yml
  apps/hub-ui/package.json
  apps/tafyd/go.mod
  apps/tafyd/go.sum
  pnpm-lock.yaml
Labels: frontend, agent, ci, dependencies

Fixing CI/CD errors
  .github/workflows/ci.yml
  .github/workflows/security.yml
  apps/hub-api/Dockerfile
  apps/hub-api/pyproject.toml
  apps/hub-api/requirements-dev.txt
  apps/hub-api/requirements.txt
  apps/hub-api/uv.lock
  apps/hub-ui/Dockerfile
Labels: frontend, backend, ci, dependencies

Fixing CI/CD errors
  .github/workflows/security.yml
  apps/hub-api/Dockerfile
  apps/hub-api/pyproject.toml
  apps/tafyd/Dockerfile
Labels: backend, agent, ci, dependencies

Fix uv PATH in hub-api Dockerfile for CI/CD
  apps/hub-api/Dockerfile
Labels: backend

Add public directory for hub-ui Docker build
  apps/hub-ui/public/.gitkeep
Labels: frontend

Version bumps
  .gitignore
  apps/hub-api/pyproject.toml
  apps/hub-ui/next.config.js
  apps/hub-ui/package.json
  apps/hub-ui/postcss.config.js
  apps/hub-ui/tsconfig.json
  apps/tafyd/go.mod
  apps/tafyd/go.sum
  package.json
  pnpm-lock.yaml
Labels: frontend, backend, agent, dependencies

Working through CI/CD issues
  apps/hub-api/Dockerfile
  apps/tafyd/Dockerfile
Labels: backend, agent

Working through CI/CD issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  apps/hub-api/pyproject.toml
Labels: backend, ci, dependencies

Fixed cosign signing
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: ci

Updated documentation and consistent pkg mgmt
  docs/DEVELOPMENT_SETUP.md
  docs/SECURITY.md
  package.json
Labels: documentation, dependencies

Setting up test automations
  .github/workflows/ci.yml
  .github/workflows/test.yml
  README.md
  apps/hub-api/.coveragerc
  apps/hub-api/__pycache__/main.cpython-312.pyc
  apps/hub-api/app/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/app/api/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/app/api/v1/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/app/api/v1/__pycache__/api.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/devices.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/flows.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/system.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/websocket.cpython-312.pyc
  apps/hub-api/app/core/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/app/core/__pycache__/config.cpython-312.pyc
  apps/hub-api/app/core/__pycache__/logging.cpython-312.pyc
  apps/hub-api/app/core/__pycache__/nats.cpython-312.pyc
  apps/hub-api/pytest.ini
  apps/hub-api/tests/__init__.py
  apps/hub-api/tests/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/tests/__pycache__/test_main.cpython-312-pytest-8.4.1.pyc
  apps/hub-api/tests/test_main.py
  apps/hub-ui/app/__tests__/page.test.tsx
  apps/hub-ui/jest.config.js
  apps/hub-ui/jest.setup.js
  apps/hub-ui/package.json
  apps/tafyd/main_test.go
  docker-compose.test.yml
  package.json
  pnpm-lock.yaml
  tests/integration/package.json
  tests/integration/test_nats_connectivity.js
  turbo.json
Labels: documentation, frontend, backend, agent, ci, dependencies

Updated documentation, CI/CD, and make targets
  .github/workflows/ci.yml
  .github/workflows/test.yml
  Makefile
  README.md
  docs/DEVELOPMENT_SETUP.md
  docs/SECURITY.md
  docs/TESTING.md
Labels: documentation, ci

Fixing tests during Action exec
  .gitignore
  apps/hub-api/tests/__pycache__/test_main.cpython-312-pytest-8.4.1.pyc
  apps/hub-api/tests/conftest.py
  apps/hub-ui/__tests__/example.test.tsx
  apps/tafyd/main_test.go
  tests/integration/package.json
Labels: frontend, backend, agent, dependencies

Resolve Test GitHub Action failures
  .github/workflows/test.yml
  docker-compose.test.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/integration/nats_connectivity.test.js
  turbo.json
Labels: ci, dependencies

Fixing tests during Action exec
  apps/hub-api/uv.lock
Labels: backend

Added documentation builder
  .github/workflows/docs.yml
  .markdownlint.json
  README.md
  cspell.json
Labels: documentation, ci

Fixed domain refs
  .github/workflows/docs.yml
  docs/SECURITY.md
Labels: documentation, ci

Build out of hub-api
  Makefile
  apps/hub-api/.env.example
  apps/hub-api/app/api/v1/endpoints/devices.py
  apps/hub-api/app/api/v1/endpoints/flows.py
  apps/hub-api/app/api/v1/endpoints/system.py
  apps/hub-api/app/core/exceptions.py
  apps/hub-api/app/db/__init__.py
  apps/hub-api/app/db/init_db.py
  apps/hub-api/app/db/session.py
  apps/hub-api/app/middleware/__init__.py
  apps/hub-api/app/middleware/logging.py
  apps/hub-api/app/models/__init__.py
  apps/hub-api/app/models/base.py
  apps/hub-api/app/models/device.py
  apps/hub-api/app/models/flow.py
  apps/hub-api/app/schemas/__init__.py
  apps/hub-api/app/schemas/device.py
  apps/hub-api/app/schemas/flow.py
  apps/hub-api/app/schemas/system.py
  apps/hub-api/app/services/__init__.py
  apps/hub-api/app/services/device_service.py
  apps/hub-api/app/services/flow_service.py
  apps/hub-api/app/services/nats_service.py
  apps/hub-api/main.py
  apps/hub-api/tests/test_devices.py
  apps/hub-api/tests/test_flows.py
  apps/hub-api/tests/test_system.py
Labels: backend

Fixing schema change
  apps/hub-api/app/schemas/system.py
Labels: backend

Fixing deployment paths in actions to only rebuild when relevant
  .github/workflows/ci.yml
  .github/workflows/test.yml
  docs/QUICKSTART.md
Labels: documentation, ci

Added Makefile targets for docs
  Makefile
Labels: none

Fixed linting for docs
  .markdownlint.json
  README.md
  docs/ARCHITECTURE.md
  docs/CONCEPTS.md
  docs/DEVELOPMENT_SETUP.md
  docs/HAL_SPEC.md
  docs/QUICKSTART.md
  docs/SECURITY.md
  docs/TESTING.md
  docs/VISION.md
Labels: documentation

Added pre-commit & pre-push hooks
  .vscode/tasks.json
  Makefile
  apps/hub-ui/.eslintrc.json
  apps/hub-ui/__tests__/example.test.tsx
  apps/hub-ui/app/__tests__/page.test.tsx
  apps/hub-ui/app/globals.css
  apps/hub-ui/app/layout.tsx
  apps/hub-ui/app/page.tsx
  apps/hub-ui/jest.config.js
  apps/hub-ui/jest.setup.js
  apps/hub-ui/next.config.js
  apps/hub-ui/package.json
  apps/hub-ui/postcss.config.js
  apps/hub-ui/tailwind.config.ts
  apps/hub-ui/tsconfig.json
  package.json
  scripts/validate.sh
  turbo.json
Labels: frontend, dependencies

Fixed: pytest fixture, TROUBLESHOOTING.md, URLs, & test files
  .github/actions/spelling/expect.txt
  apps/hub-api/app/db/base.py
  apps/hub-api/app/db/base_class.py
  apps/hub-api/tests/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/tests/conftest.py
  apps/hub-api/tests/test_devices.py
  apps/hub-api/tests/test_flows.py
  apps/hub-api/tests/test_system.py
  docs/QUICKSTART.md
  docs/TROUBLESHOOTING.md
Labels: documentation, backend, ci

Fixed jest DOM matchers
  apps/hub-ui/jest.config.js
  apps/hub-ui/tsconfig.json
  apps/hub-ui/types/jest-dom.d.ts
Labels: frontend

Fixed GitHub Action failures on Test & Docs
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: ci

Fixed GitHub Action failures on Test & Docs
  .github/workflows/docs.yml
  .github/workflows/test.yml
  apps/hub-api/app/__init__.py
Labels: backend, ci

fix: rename metadata fields to avoid SQLAlchemy reserved name conflicts
  apps/hub-api/__pycache__/main.cpython-312.pyc
  apps/hub-api/app/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/app/api/__pycache__/__init__.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/devices.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/flows.cpython-312.pyc
  apps/hub-api/app/api/v1/endpoints/__pycache__/system.cpython-312.pyc
  apps/hub-api/app/core/exceptions.py
  apps/hub-api/app/main.py
  apps/hub-api/app/models/device.py
  apps/hub-api/app/models/flow.py
  apps/hub-api/app/schemas/device.py
  apps/hub-api/app/schemas/flow.py
  apps/hub-api/app/services/device_service.py
  apps/hub-api/app/services/flow_service.py
  apps/hub-api/tests/__pycache__/test_main.cpython-312-pytest-8.4.1.pyc
  apps/hub-api/tests/conftest.py
Labels: backend

fix: properly mock NATS client for tests
  apps/hub-api/tests/conftest.py
Labels: backend

Added in some UI components
  apps/hub-ui/app/layout.tsx
  apps/hub-ui/app/page.tsx
  apps/hub-ui/components/layout/Footer.tsx
  apps/hub-ui/components/layout/Navigation.tsx
  apps/hub-ui/components/ui/Button.tsx
  apps/hub-ui/components/ui/Card.tsx
  apps/hub-ui/components/ui/StatusBadge.tsx
Labels: frontend

Added in some additional UI components, nav, & pages
  apps/hub-ui/app/devices/loading.tsx
  apps/hub-ui/app/devices/page.tsx
  apps/hub-ui/app/error.tsx
  apps/hub-ui/app/layout.tsx
  apps/hub-ui/app/not-found.tsx
  apps/hub-ui/app/page.tsx
  apps/hub-ui/components/layout/Footer.tsx
  apps/hub-ui/components/layout/Navigation.tsx
  apps/hub-ui/components/ui/Button.tsx
  apps/hub-ui/components/ui/Card.tsx
  apps/hub-ui/components/ui/Input.tsx
  apps/hub-ui/components/ui/Modal.tsx
  apps/hub-ui/components/ui/Spinner.tsx
  apps/hub-ui/components/ui/StatusBadge.tsx
Labels: frontend

Added in some additional UI components, nav, & pages
  apps/hub-ui/app/devices/loading.tsx
  apps/hub-ui/app/devices/page.tsx
  apps/hub-ui/app/error.tsx
  apps/hub-ui/app/not-found.tsx
  apps/hub-ui/components/ui/Input.tsx
  apps/hub-ui/components/ui/Modal.tsx
  apps/hub-ui/components/ui/Spinner.tsx
Labels: frontend

Fized lint issues
  apps/hub-ui/__mocks__/next/navigation.js
  apps/hub-ui/app/__tests__/page.test.tsx
  apps/hub-ui/app/devices/page.tsx
  apps/hub-ui/app/not-found.tsx
  apps/hub-ui/app/page.tsx
  apps/hub-ui/components/ui/Modal.tsx
Labels: frontend

Remove lint script from hal-schemas to fix ESLint v9 compatibility issue
  packages/hal-schemas/.eslintrc.json
  packages/hal-schemas/package.json
Labels: dependencies

Fix TypeScript configuration to resolve minimatch type error
  apps/hub-ui/package.json
  apps/hub-ui/tsconfig.json
  pnpm-lock.yaml
Labels: frontend, dependencies

Fix GitHub Actions: remove ajv-cli vulnerability and skip Python API docs generation
  .github/workflows/docs.yml
  packages/hal-schemas/package.json
  packages/hal-schemas/scripts/validate-schemas.ts
  pnpm-lock.yaml
Labels: ci, dependencies

Setup Python Sphinx documentation
  .vscode/settings.json
  scripts/setup-docs-deployment.md
Labels: documentation

.github/labeler.yml:

# Add labels to PRs based on changed files

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/hub-ui/**'
      - 'packages/sdk-ts/**'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/hub-api/**'
      - 'packages/sdk-python/**'

agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/tafyd/**'

firmware:
  - changed-files:
    - any-glob-to-any-file:
      - 'firmware/**'

drivers:
  - changed-files:
    - any-glob-to-any-file:
      - 'drivers/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '**/requirements.txt'
      - '**/pyproject.toml'
      - '**/go.mod'
      - '**/go.sum'
