Repository tafystudio/tafystudio, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, agent, firmware, drivers, ci, dependencies

Re-aligned based on external docs repo–fixed lint
  .github/workflows/docs.yml
  .github/workflows/trigger-docs-build.yml
  Makefile
  scripts/setup-docs-deployment.md
Labels: documentation, ci

Re-aligned based on external docs repo–fixed failure
  .github/workflows/trigger-docs-build.yml
Labels: ci

Added docs, make targets, and scripts for documentation build/extraction
  .gitignore
  .markdownlint.json
  Makefile
  docs/DOCUMENTATION_BUILD_SPEC.md
  scripts/docs-deploy-workflow-fix.yml
  scripts/docs-repo-workflow-example.yml
  scripts/extract-docs.sh
Labels: documentation

Fixing markedown dep for sphinx
  Makefile
  docs/DOCUMENTATION_BUILD_SPEC.md
  scripts/docs-deploy-workflow-fix.yml
  scripts/docs-repo-workflow-example.yml
  scripts/extract-docs.sh
Labels: documentation

Added documentation to projects
  apps/bootstrapd/README.md
  apps/hub-api/README.md
  apps/hub-ui/README.md
  apps/tafyd/README.md
Labels: documentation, frontend, backend, agent

Built out documentation quality items
  .github/workflows/trigger-docs-build.yml
  Makefile
  apps/hub-api/docs/conf.py
  apps/hub-api/pyproject.toml
  docs/API_DOCUMENTATION.md
  package.json
  packages/hal-schemas/typedoc.json
  scripts/docs-preview.sh
  turbo.json
  typedoc.json
Labels: documentation, backend, ci, dependencies

Adding community file
  CONTRIBUTING.md
Labels: documentation

Adding in flash UI, HAL envelope schema, and get.tafy.sh run script
  apps/hub-ui/app/devices/flash/page.tsx
  apps/hub-ui/app/devices/page.tsx
  apps/hub-ui/components/flasher/WebSerialFlasher.tsx
  packages/hal-schemas/schemas/envelope.json
  scripts/get.tafy.sh
Labels: frontend

Fixing dupe HAL envelope
  apps/hub-ui/app/devices/flash/page.tsx
  apps/hub-ui/app/devices/page.tsx
  apps/hub-ui/components/flasher/WebSerialFlasher.tsx
  packages/hal-schemas/python/tafy_hal_schemas/envelope.py
  packages/hal-schemas/schemas/common/envelope.json
  packages/hal-schemas/schemas/envelope.json
  packages/hal-schemas/src/types/envelope.ts
  packages/hal-schemas/src/validator.ts
  packages/hal-schemas/tests/validator.test.ts
Labels: frontend

Built out device discovery
  apps/hub-api/app/main.py
  apps/hub-api/app/services/nats_service.py
  firmware/esp32/README.md
  firmware/esp32/include/config.h
  firmware/esp32/include/device_info.h
  firmware/esp32/include/hal_handler.h
  firmware/esp32/include/motor_controller.h
  firmware/esp32/include/nats_client.h
  firmware/esp32/include/sensor_manager.h
  firmware/esp32/include/wifi_manager.h
  firmware/esp32/platformio.ini
  firmware/esp32/src/device_info.cpp
  firmware/esp32/src/hal_handler.cpp
  firmware/esp32/src/main.cpp
  firmware/esp32/src/motor_controller.cpp
  firmware/esp32/src/nats_client.cpp
  firmware/esp32/src/sensor_manager.cpp
  firmware/esp32/src/wifi_manager.cpp
Labels: documentation, backend, firmware

Created Node-RED helm charts & NATS nodes
  charts/node-red/Chart.yaml
  charts/node-red/templates/_helpers.tpl
  charts/node-red/templates/configmap.yaml
  charts/node-red/templates/deployment.yaml
  charts/node-red/templates/pvc.yaml
  charts/node-red/templates/service.yaml
  charts/node-red/values.yaml
  packages/node-red-contrib-tafy/README.md
  packages/node-red-contrib-tafy/nodes/motor-control.html
  packages/node-red-contrib-tafy/nodes/motor-control.js
  packages/node-red-contrib-tafy/nodes/nats-config.html
  packages/node-red-contrib-tafy/nodes/nats-config.js
  packages/node-red-contrib-tafy/nodes/nats-pub.html
  packages/node-red-contrib-tafy/nodes/nats-pub.js
  packages/node-red-contrib-tafy/package.json
Labels: documentation, dependencies

Fixed outdated pnpm lockfile & excluded lint on generated test files
  .github/workflows/docs.yml
  pnpm-lock.yaml
Labels: ci, dependencies

fix: update node-red dependencies to fix critical form-data vulnerability
  packages/node-red-contrib-tafy/package.json
  pnpm-lock.yaml
Labels: dependencies

fix: update deprecated 'file' parameter to 'files' for codecov v5
  .github/workflows/test.yml
Labels: ci

.github/labeler.yml:

# Add labels to PRs based on changed files

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/hub-ui/**'
      - 'packages/sdk-ts/**'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/hub-api/**'
      - 'packages/sdk-python/**'

agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/tafyd/**'

firmware:
  - changed-files:
    - any-glob-to-any-file:
      - 'firmware/**'

drivers:
  - changed-files:
    - any-glob-to-any-file:
      - 'drivers/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '**/requirements.txt'
      - '**/pyproject.toml'
      - '**/go.mod'
      - '**/go.sum'
